/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header */
nav {
	width: 100%;
	display: flex;
	font-size: 0.9em;
	margin-bottom: 1.5em;
	position: fixed;
}

nav ul {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

nav img {
	display: flex;
	height: 4em;
	width: 6em;
}

nav a {
	display: flex;
	align-items: center;
	margin: 1.4em; 
	color: black;
	text-decoration: none;
	padding-bottom: 0.5em;
}

nav a:hover {
	border-bottom: solid 0.2em;
}
/*End of Header*/

main {
	display: flex;
	max-width: 80%;
	margin: 0 auto;
}

.hero {
	font-size: 2.8em;
	max-width: 60%;
	margin-top: 2em;
}

.hero span {
	color: #FF5A5F;
	font-weight: 900;
}
